{% extends 'base.html' %} {% block title %} Articles {% endblock %}
<!--Content block -->
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Articles</h2>
      {% for usa_article in us %}
      <h1>{{ usa_article.title }}</h1>
      <img src="{{usa_article.urlToImage}}" class="img-responsive" />
      <p>
        {{ usa_article.description }}
      </p>
      <p>{{ usa_article.content }}</p>
      <p>
        To view more details
        <a href="{{ usa_article.url }}"><em>click here</em></a>
      </p>
      <div>
        {{ usa_article.publishedAt }}
      </div>
      {% endfor %}
    </div>
    <!--
    <div class="col-md-6">
      <h2>UK Articles</h2>
      {% for uk_article in gb %}
      <h1>{{ uk_article.title }}</h1>
      <img src="{{uk_article.urlToImage}}" class="img-responsive" />
      <p>
        {{ uk_article.description }}
      </p>
      <p>{{ uk_article.content }}</p>
      <p>
        To view more details
        <a href="{{ uk_article.url }}"><em>click here</em></a>
      </p>
      <div>
        {{ uk_article.publishedAt }}
      </div>
      {% endfor %}
    </div>-->
  </div>
</div>
{% endblock %}
