 
{% macro displayNewsList(news_source_list) %}

<div class="row">
    <div class="col-md-3">
        <div class="container">

            <div class="text-center">

                {% for news in news_source_list %}
                <h1><strong>{{ news.title }}</strong></h1>
                <img src="{{news.urlToImage}}" class="img-responsive">
                <br>
                <p><u><strong>{{ news.description}}</strong></u></p>
                <P>{{ news.content }}</P>
                <p>To view more details <a href="{{ news.url }}"><em>click here</em></a></p>
                <div class="blochquote-footer">
                    <p>Published on :{{ news.publishedAt}}</p>
                </div>
                {% endfor %}

            </div>

        </div>
    </div>
</div>


{% endmacro %}