{% macro displayNewsList(news_source_list) %}

<div class="container">
  <div class="text-center">
    <div class="row">
      {% for news in news_source_list %}
      <div class="col-md-6">
        <h2>{{ news.title }}</h2>
        <img src="{{news.urlToImage}}" class="img-responsive" />
        <br />
        <p>
          {{ news.description}}
        </p>
        <p>{{ news.content }}</p>
        <p>
          To view more details <a href="{{ news.url }}"><em>click here</em></a>
        </p>
        <div>
          <p>Published on :{{ news.publishedAt}}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endmacro %}
